body {
    color: black;
}

a {
    border-bottom: none;
    color: black;
}

#nav ul li.right {
    margin: 0px 0px 0px 50px;
    padding: 5px 0px 8px 0px;
    float: right;
}

#copyright a {
    border-bottom: none;
}


#header #userid {
    position:absolute;
    right: 0px;
    top:25px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    font-variant: small-caps;
    color: #ddcf99;
}
#header #userid a {
    color: #ddcf99;
}
#header #status {
    position:absolute;
    right: 0px;
    top: 50px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    font-variant: small-caps;
    color: #ddcf99;
}
#header #status a {
    color: #ddcf99;
}


form.loginform label {
    float: left;
    width: 6em;
    line-height: 25px;
    display: block;
}
form.loginform input#submit {
    margin-left: 2em;
}


form.prefsform {
    margin-top: 2em;
}
form.prefsform label {
    float: left;
    width: 8em;
    text-align: right;
    margin-right: 1em;
    line-height: 25px;
    display: block;
}
form.prefsform input {
    width: 15em;
}
form.prefsform input#submit {
    margin-left: 9em;
    width: auto;
}
form.prefsform textarea#comment {
    height: 10ex;
    width: 40em;
}


select.filter {
    width:12em;
}


table.tablesorter {
    width:100%;
    color: black;
    background-color: #820000;
    margin:10px auto 15px auto;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: #ffffff;
    padding: 2px;
}
table.tablesorter thead tr .header {
    background-image: url(../images/asc_desc.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
    background-image: url(../images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
    background-image: url(../images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #cccccc;
}
table.tablesorter tbody td {
    background-color: #ffffff;
    padding: 2px 4px;
}
table.tablesorter tbody tr.odd td {
    background-color:#e5e5e5;
}


.ui-dropdownchecklist {
    height: 20px;
    width: 300px;
    border: 1px solid #ddd;
    border-right: 0;
    background: #fff url("../images/desc.gif") no-repeat center right;
}
.ui-dropdownchecklist-hover, .ui-dropdownchecklist-active {
    background-image: url("../images/desc.gif");
    border-color: #5794bf;
}

.ui-dropdownchecklist-text {
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    margin-right: 17px; /* background dropdown.png image */
}

.ui-dropdownchecklist-dropcontainer {
    background-color: #fff;
    border: 1px solid #999;
}

.ui-dropdownchecklist-item {

}

.ui-dropdownchecklist-item-hover {
    background-color: #39f;
}

.ui-dropdownchecklist-item-disabled label {
    color: #ccc;
}

.ui-dropdownchecklist-item-hover .ui-dropdownchecklist-text {
    color: #fff;
}

.ui-dropdownchecklist-group {
    font-weight: bold;
    font-style: italic;
}

.ui-dropdownchecklist-indent {
    padding-left: 20px;
}
