body {color: black;}
a {color: black;}
form input {color: black;}
#layout {background: url("../images/body_bg2.jpg") 0px 0px repeat-x;}
#nav ul li.right {margin: 0px 0px 0px 50px; padding: 5px 0px 8px 0px; float: right;}
#copyright a {border-bottom: none;}


#header #userid {
    position: absolute;
    right: 0px;
    top:25px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    font-variant: small-caps;
    color: #ddcf99;
}

#header #userid a {
    color: #ddcf99;
}

#header #status {
    position: absolute;
    right: 0px;
    top: 50px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    font-variant: small-caps;
    color: #ddcf99;
}

#header #status a {
    color: #ddcf99;
}


form.loginform label {
    float: left;
    width: 6em;
    line-height: 25px;
    display: block;
}

form.loginform input#submit {
    margin-left: 2em;
}


form.prefsform {
    margin-top: 2em;
}

form.prefsform label {
    float: left;
    width: 8em;
    text-align: right;
    margin-right: 1em;
    line-height: 25px;
    display: block;
}

form.prefsform input {
    width: 15em;
}

form.prefsform input#submit {
    margin-left: 9em;
    width: auto;
}

form.prefsform textarea#comment {
    height: 10ex;
    width: 40em;
}

.scrolltable_wrapper:focus {
    outline-color:#ddcf99;
    outline-style:solid;
    outline-width:2px;
}

.scrolltable_body
{
    height:200px;
}

.scrolltable_loading
{
    text-align:center;
    display:none;
}

.scrolltable_title
{
    color:#820000;
    text-align:center;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.3em;
    line-height: 1.2em;
    letter-spacing: 0.03em;
    padding: 4px;
    margin: 1px;
}

.scrolltable
{
    table-layout:fixed;
    width:100%;
    margin:0px;
    border-spacing:0px;
}

.scrolltable th
{
    font-family:Georgia,Times New Roman,Times;
    color:white;
    background-color:#820000;
}

.scrolltable_wrapper
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    display:inline-block;
    position:relative;

    cursor:default;
    float:left;
    margin-right:10px;
    margin-bottom:10px;
}

.scrolltable_body
{
    overflow-y:scroll;
    color:black;
}

.scrolltable th, .scrolltable td, #floating td
{
    border:1px solid white;
    overflow:hidden;
    white-space:nowrap;
}

tr.stripe.ui-selected, tr.ui-selected
{
    background-color: #ddcf99;
}

tr.stripe
{
    background-color: #eee;
}

tr.hover, tr.hover.stripe, tr.multihover, tr.multihover.stripe
{
    background-color:#820000;
    color: white;
}

tr.trash, tr.trash.ui-selected
{
    color:#8a887d;
}
