.scrolltable_wrapper:focus {
    outline-color:#ddcf99;
    outline-style:solid;
    outline-width:2px;
}

.scrolltable_body
{
    height:200px;
}

.scrolltable_loading
{
    text-align:center;
    display:none;
}

.scrolltable_title
{
    color:#820000;
    text-align:center;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.3em;
    line-height: 1.2em;
    letter-spacing: 0.03em;
    padding: 4px;
    margin: 1px;
}

.scrolltable
{
    table-layout:fixed;
    width:100%;
    margin:0px;
    border-spacing:0px;
}

.scrolltable th
{
    font-family:Georgia,Times New Roman,Times;
    color:white;
    background-color:#820000;
}

.scrolltable_wrapper
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    display:inline-block;
    position:relative;

    cursor:default;
    float:left;
    margin-right:10px;
    margin-bottom:10px;
}

.scrolltable_body
{
    overflow-y:scroll;
    color:black;
}

.scrolltable th, .scrolltable td, #floating td
{
    border:1px solid white;
    overflow:hidden;
    white-space:nowrap;
}

tr.stripe.ui-selected, tr.ui-selected
{
    background-color: #ddcf99;
}

tr.stripe
{
    background-color: #eee;
}

tr.hover, tr.hover.stripe, tr.multihover, tr.multihover.stripe
{
    background-color:#820000;
    color: white;
}

tr.trash, tr.trash.ui-selected
{
    color:#8a887d;
}

