#db_wrapper{
    width:100%;
}
#db_choice{
    width:250px;
    float:left;
    padding-bottom:15px;
}
.first_name{
    margin-left:10px;
    float:left;
    padding-bottom:15px;
}
.last_name{
    padding-left:20px;
    margin-left:350;
    float:left;
    padding-bottom:15px;
}
div#bannerjs { 
    position: relative; 
    top: 0; 
    left: 0; 
    background-color: #FFCCCC; 
    width: 100%; 
    }
#bannerjs-emptyfields {  
    margin: 0 auto; 
    padding: 5px; 
    border: 1px solid #FF0033;
}
#bannerjs-errorstring {  
    margin: 0 auto; 
    padding: 5px; 
    border: 1px solid #FF0033;
}
#bannerjs-errorints {  
    margin: 0 auto; 
    padding: 5px; 
    border: 1px solid #FF0033;
}
div#bannerpy { 
    position: relative; 
    top: 0; 
    left: 0; 
    background-color: #FFCCCC; 
    width: 100%; 
}
div#bannerpy-content {  
    margin: 0 auto; 
    padding: 5px; 
    border: 1px solid #FF0033;
}
.asterisk{
	position:absolute;
}
#select_param{
	padding-right:15px;
}
#criteriaBody{
	padding-bottom:5px;
    width:100%;
    overflow:hidden;   
}
#criteriaContainerA{
    width:350px;
    float:left;
}
#criteriaContainerB{
    margin-left:380px;
}
.field_information{
    margin-left:130px;
}
#newCriteria {
	position: relative;
}

#submitDiv{
	padding:5px;
}

#dates{
	padding:5px;
}

#query_table {

}

#epochs {
	width: 82%;
}

#datasets {
	width: 150px;
}

.hide {
	display: none;
}

.col_access {
	width: 10%;
}

.col_sunet {
	width: 12%;
}

.col_exp {
	width: 17%;
}

.col_datetime {
	width: 17%;
}

.col_subj {
	width: 12%;
}

.col_desc {
	width: 32%;
}

#epochs_pop,#datasets_pop {
	padding: 0px;
	margin: 0px;
	overflow: hidden;
