.first_row td{
    padding-bottom:10px;
}

#exam_information{
    font-size:90%;
    margin-left: 50px;
}
#psdName_information{
    font-size:90%;
    margin-left:80px;
}
 #operator_information,#age_information{
    font-size:90%;
    margin-left:80px;
}
#query_table{
    display:table;
}
#dataset_div{
    display:table-row;
}

#container_names, #container_scanType{
    display:table-cell;
}

#db_choice{
    padding:15px;
}
.first_name{
    float:left;
}
.last_name{

    margin-left:350;
    float:left;
}
div#bannerjs {
    position: relative;
    top: 0;
    left: 0;
    background-color: #FFCCCC;
    width: 100%;
    }
#bannerjs-emptyfields {
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #FF0033;
}
#bannerjs-errorstring {
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #FF0033;
}
#bannerjs-errorints {
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #FF0033;
}
div#bannerpy {
    position: relative;
    top: 0;
    left: 0;
    background-color: #FFFFCC;
    width: 100%;
}
div#bannerpy-content {
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #FFCCCC;
}
.asterisk{
	position:absolute;
}
#select_param{
	padding-right:15px;
}
.criteriaBody{
	padding-bottom:5px;
    width:100%;
}
#upper_Body {
    width:100%;
}
#criteriaContainerA{
    width:350px;
    float:left;
    padding-bottom:5px;
}
#criteriaContainerB{
    float:left;
    padding-bottom:5px;
}
.field_information{
    margin-left:130px;
    color:#888888;
}
#newCriteria {
    position: relative;
}

#removeCriteria {

}

#submitDiv{
    margin:auto;
    width:70%;
	padding:5px;
}

#dates{
    width:100%;
    float:left;
	padding:5px;
}

#query_table {
}

#epochs {
	width: 82%;
}

#datasets {
	width: 150px;
}

.hide {
	display: none;
}

.col_access {
	width: 10%;
}

.col_sunet {
	width: 12%;
}

.col_exp {
	width: 17%;
}

.col_datetime {
	width: 17%;
}

.col_typescan {
	width: 12%;
}

.col_desc {
	width: 32%;
}

#epochs_pop,#datasets_pop {
	padding: 0px;
	margin: 0px;
	overflow: hidden;
