#result_ok{
    position: relative;
    top: 0;
    left: 0;
    background-color: #FFFFCC;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #FFFF66;
}

#result_error{
    position: relative;
    top: 0;
    left: 0;
    background-color: #FFCCCC;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #FF0033;
}

h2{
    padding:10px;
}
.hide {
	display: none;
}


img.clickable {
    cursor: pointer;
    padding: 2px;
}

tr.ok {
    background-color: #FFFFCC;
}

tr.error {
    background-color: #FFCCCC;
}

#table_form{
    width:60%;
    text-align:left;
}
div#bannerjs {
    position: relative;
    top: 0;
    left: 0;
    background-color: #FFCCCC;
    width: 100%;
    }
#bannerjs-emptyfields {
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #FFCCCC;
}

#uid-wrapper {
    padding:10px;
}

#drop_zone {
    border:2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    font: 20pt bold 'Vollkorn';
    color:#bbb
}

#drop_zone.over {
    border:2px dashed #989898;
    color: #989898;
    background-color: #F8F8F8;
}
