#file_header_ignored th{
    color:#bbb;
}

#submit_form{
    width:70px;
}

.border{
    border:1px solid #bbb;
}

.submitTable{
    width:50%;
    padding:10px;
}

tr{
    align: center;
}

#files{
    visibility:hidden;
    position:absolute;
    top:-50;
    left:-50;
}

#result_ok{
    position: relative;
    top: 0;
    left: 0;
    background-color: #FFFFCC;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #FFFF66;
}

#result_error{
    position: relative;
    top: 0;
    left: 0;
    background-color: #FFCCCC;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #FF0033;
}

h2{
    padding:10px;
}

.hide {
	display: none;
}


img.clickable {
    cursor: pointer;
    padding: 2px;
}

tr.ok {
    background-color: #FFFFCC;
}

tr.error {
    background-color: #FFCCCC;
}

#information{
    width:100%;
    text-align:left;
    margin-left:20px;
}

div#bannerjs {
    position: relative;
    top: 0;
    left: 0;
    background-color: #FFCCCC;
    width: 100%;
    }
#bannerjs-emptyfields {
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #FFCCCC;
}

#uid-wrapper {
    padding:10px;
}

#drop_zone{
    text-align: center;
    padding-top:20px;
    margin-bottom:10px;
    font-size:100%;
    color: #bbb;
    float: right;
    height: 70px;
    width: 270px;
    border: 2px dashed #bbb;
    border-radius: 5px;
}

#drop_zone.over {
    border:2px dashed #989898;
    color: #989898;
    background-color: #F8F8F8;
}
