<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
<title>NIMS</title>

<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script data-main="${tg.url('/javascript/access')}" src="${tg.url('/javascript/require.js')}"></script>
<link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/jquery-ui-1.8.13.custom.css')}"/>
<link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/scrolltable.css')}"/>

<style>
    #users { clear:left; width:25%; }
    #experiments { width:25%; }
    #current_access { width:40%; }
    #current_access { margin-left: 10%; }

    .col_sunet { width:40%; }
    .col_exam { width:25%; }
    .col_sa { width:25%; }
    #current_access .col_sunet { width:25%; }
    #current_access .col_name { width:25%; }

</style>

<script type="text/javascript">
</script>

</head>

<body>
    <div id="access_dialog" title="Select access level to assign:">
        <select id="access_select">
        </select>
    </div>
    <h2>Access</h2>
    <p>This page allows you to view and make changes to access privileges.</p>

    <table id="users" class="scrolltable" name="Users">
        <thead>
            <tr>
                <py:for each="col in user_columns">
                    <th py:with="name, cls = col" class="${cls}">${name}</th>
                </py:for>
            </tr>
        </thead>
        <tbody>
            <py:for each="user_params in user_list">
                <tr>
                    <td py:for="param in user_params">${param}</td>
                </tr>
            </py:for>
        </tbody>
    </table>
    <table id="experiments" class="scrolltable" name="Experiments">
        <thead>
            <tr>
                <py:for each="col in exp_columns">
                    <th py:with="name, cls = col" class="${cls}">${name}</th>
                </py:for>
            </tr>
        </thead>
        <tbody>
            <py:for each="exp_data, exp_attr in zip(exp_data_list, exp_attr_list)">
                <tr py:attrs="exp_attr"> <!-- set id for expand queries done on rows later -->
                    <td py:for="param in exp_data">${param}</td>
                </tr>
            </py:for>
        </tbody>
    </table>
    <table id="current_access" class="scrolltable" name="Current Access">
        <thead>
            <tr>
                <py:for each="col in acc_columns">
                    <th py:with="name, cls = col" class="${cls}">${name}</th>
                </py:for>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</body>
</html>
