<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
<py:def function="footer">

  <!-- Start #footer-wrapper -->
  <div id="footer-wrapper">

    <!-- Start #footer -->
    <div id="footer">
      <ul>
        <li><a href="${tg.url('/about')}">About NIMS</a></li>
        <li><a href="http://www.stanford.edu/">Stanford University</a></li>
        <li class="last"><a href="http://www.stanford.edu/contact/">Contact Information</a></li>
      </ul>
    </div>
    <!-- End #footer -->

    <!-- Start #copyright -->
    <div id="copyright" class="vcard"> &copy; <span class="fn org">Stanford University</span>. <span            class="adr">450 Serra Mall, <span class="locality">Stanford</span>, <span class="region">California</span> <span        class="postal-code">94305</span>. <span class="tel">(650) 723-2300</span></span>. <a href="http://www.stanford.edu/site/terms.html">Terms of Use</a> | <a href="http://www.stanford.edu/site/copyright.html">Copyright Complaints</a>
    </div>
    <!-- End #copyright -->

  </div>
  <!-- End #footer-wrapper -->

</py:def>
</html>
