<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
<title>NIMS</title>

<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script type="text/javascript" src="${tg.url('/javascript/nimsgears.js')}"></script>
</head>

<body>
<div id="style_wrapper">

    <h2>Groups</h2>

    <p>This page allows you to view and make changes to access privileges.</p>


</div>
</body>
</html>
