<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
<title>NIMS</title>

<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script type="text/javascript" src="${tg.url('/javascript/nimsgears.js')}"></script>
<link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/scrolltable.css')}"/>

<style>
    .scrolltable_body.hover { border:1px solid #820000}
    #pis { clear:left; width:25%; }
    #admins { width:25%; }
    #members { width:25%; }
    #others { width:25%; }

    .col_sunet { width:40%; }
    .col_exam { width:25%; }
    .col_sa { width:25%; }
    .col_access { width:20%; }
</style>

<script type="text/javascript">
    $(document).ready(function() {
        scrolltable_Generate();
        setupCallbacks_Groups();
    });
</script>

</head>

<body>
    <h2>Groups</h2>
    <p>This page allows you to view and make changes to access privileges.</p>
    <div style="clear:left;">
        Research Group:
        <select onchange="refreshGroups(this.value)">
            <option py:for="research_group in research_groups">${research_group}</option>
        </select>
    </div>

    <table id="pis" class="scrolltable">
        <thead>
            <tr>
                <py:for each="col in user_columns">
                    <th py:with="name, cls = col" class="${cls}">${name}</th>
                </py:for>
            </tr>
        </thead>
        <tbody>
            <py:for each="user_params in groups_dict['pis']">
                <tr><!-- set id for expand queries done on rows later -->
                    <td py:for="param in user_params">${param}</td>
                </tr>
            </py:for>
        </tbody>
    </table>
    <table id="admins" class="scrolltable">
        <thead>
            <tr>
                <py:for each="col in user_columns">
                    <th py:with="name, cls = col" class="${cls}">${name}</th>
                </py:for>
            </tr>
        </thead>
        <tbody>
            <py:for each="user_params in groups_dict['admins']">
                <tr><!-- set id for expand queries done on rows later -->
                    <td py:for="param in user_params">${param}</td>
                </tr>
            </py:for>
        </tbody>
    </table>
    <table id="members" class="scrolltable">
        <thead>
            <tr>
                <py:for each="col in user_columns">
                    <th py:with="name, cls = col" class="${cls}">${name}</th>
                </py:for>
            </tr>
        </thead>
        <tbody>
            <py:for each="user_params in groups_dict['members']">
                <tr><!-- set id for expand queries done on rows later -->
                    <td py:for="param in user_params">${param}</td>
                </tr>
            </py:for>
        </tbody>
    </table>
    <table id="others" class="scrolltable">
        <thead>
            <tr>
                <py:for each="col in user_columns">
                    <th py:with="name, cls = col" class="${cls}">${name}</th>
                </py:for>
            </tr>
        </thead>
        <tbody>
            <py:for each="user_params in groups_dict['others']">
                <tr><!-- set id for expand queries done on rows later -->
                    <td py:for="param in user_params">${param}</td>
                </tr>
            </py:for>
        </tbody>
    </table>
</body>
</html>
