<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
<title>NIMS Groups</title>

<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
<script data-main="${tg.url('/javascript/groups')}" src="${tg.url('/javascript/require.js')}"></script>
<link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/scrolltable.css')}"/>

<style>
    .scrolltable_body.hover { border:1px solid #820000}
    #pis { clear:left; width:23%; }
    #admins { width:23%; }
    #members { width:23%; }
    #others { width:23%; }

    .col_sunet { width:40%; }
    .col_exam { width:25%; }
    .col_sa { width:25%; }
    .col_access { width:20%; }
</style>

</head>

<body>
    <div id="retro_dialog" title="Before you proceed:" style="display:none">
        Apply relevant access privileges retroactively?
    </div>
    <h2>Groups</h2>
    <p>This page allows you to view and make changes to access privileges.</p>
    <div style="clear:left;">
        Research Group:
        <select id="group_select">
            <option py:for="research_group in research_groups">${research_group}</option>
        </select>
    </div>

    <table id="pis" class="scrolltable" name="Primary Investigators" style="visibility:hidden">
        <thead>
            <tr>
                <py:for each="col in user_columns">
                    <th py:with="name, cls = col" class="${cls}">${name}</th>
                </py:for>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <table id="admins" class="scrolltable" name="Managers" style="visibility:hidden">
        <thead>
            <tr>
                <py:for each="col in user_columns">
                    <th py:with="name, cls = col" class="${cls}">${name}</th>
                </py:for>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <table id="members" class="scrolltable" name="Members" style="visibility:hidden">
        <thead>
            <tr>
                <py:for each="col in user_columns">
                    <th py:with="name, cls = col" class="${cls}">${name}</th>
                </py:for>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <table id="others" class="scrolltable" name="Unaffiliated Users" style="visibility:hidden">
        <thead>
            <tr>
                <py:for each="col in user_columns">
                    <th py:with="name, cls = col" class="${cls}">${name}</th>
                </py:for>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</body>
</html>
