<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
<py:def function="header">

  <!-- Start #header -->
  <div id="header">

    <!-- Start #logo -->
    <div id="logo">
      <img src="${tg.url('/images/banner.gif')}" alt="Stanford University - Neurobiological Image Management System (NIMS)" border="0" usemap="#Map" />
      <map name="Map" id="Map">
        <area shape="rect" coords="-1,0,263,57" href="http://www.stanford.edu" alt="Stanford University" />
        <area shape="rect" coords="275,4,700,57" href="${tg.url('/')}" alt="Neurobiological Image  Management System (NIMS)" />
      </map>
    </div>
    <!-- End #logo -->

    <!-- Start #userid -->
    <py:if test="tg.identity">
      <div id="userid">
        <py:if test="tg.predicates.in_group('superusers') and tg.identity.user.admin_mode">
          <a href="${tg.url('/auth/toggle_admin')}?came_from=${request.url}">SuperUser: </a>
        </py:if>
        <py:if test="tg.predicates.in_group('superusers') and not tg.identity.user.admin_mode">
          <a href="${tg.url('/auth/toggle_admin')}?came_from=${request.url}">User: </a>
        </py:if>
        <py:if test="not tg.predicates.in_group('superusers')">
          Welcome,
        </py:if>
        <a href="${tg.url('/auth/prefs')}">${tg.identity.user.displayname}</a>
      </div>
      <div id="status">
          <a href="${tg.url('/auth/status')}">Status: ${tg.identity.user.dataset_cnt}/${tg.identity.user.unread_msg_cnt}/${tg.identity.user.job_cnt}</a>
      </div>
    </py:if>
    <!-- End #userid -->

  </div>
  <!-- End #header -->

  <!-- Start #nav -->
  <div id="nav">
    <ul>
      <py:if test="not tg.identity">
        <li><a href="${tg.url('/')}" class="${('', 'current')[defined('page') and page=='index']}">Home</a></li>
        <li><a href="${tg.url('/pub/browse')}" class="${('', 'current')[defined('page') and page=='browse']}">Public My Data</a></li>
        <li><a href="${tg.url('/pub/search')}" class="${('', 'current')[defined('page') and page=='search']}">Public Search</a></li>
        <li class="right">
            <a href="${tg.url('/auth')}">Login</a></li>
      </py:if>

      <py:if test="tg.identity">
        <li><a href="${tg.url('/auth/browse')}" class="${('', 'current')[defined('page') and page=='browse']}">My Data</a></li>
        <li><a href="${tg.url('/auth/search')}" class="${('', 'current')[defined('page') and page=='search']}">Search</a></li>
        <li class="right">
            <a href="${tg.url('/logout_handler')}">Logout</a></li>
        <li class="right" py:if="tg.identity.user.is_superuser">
            <a href="${tg.url('/auth/admin')}" class="${('', 'current')[defined('page') and page=='admin']}">Admin</a></li>
        <li class="right">
            <a href="${tg.url('/auth/groups')}" class="${('', 'current')[defined('page') and page=='groups']}">Manage Groups</a></li>
        <li class="right">
            <a href="${tg.url('/auth/experiments')}" class="${('', 'current')[defined('page') and page=='experiments']}">Manage Experiments</a></li>
      </py:if>
    </ul>
  </div>
  <!-- End #nav -->

</py:def>
</html>
