<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
  <title>Welcome to NIMS</title>
</head>

<body>

  <h2>Welcome to NIMS</h2>
  <p>NIMS is a scientific data management system, specifically designed for neuroimaging data.</p>
  <p>When you log in for the first time with your SUNet credentials, a NIMS account is automatically created for you. Initially, you will not have access to any datasets, however, the respective data owners can now grant you access.</p>

  <!-- ${globals()['__data__']} -->

</body>
</html>
