<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
  <title>NIMS</title>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
  <script type="text/javascript" src="${tg.url('/javascript/manage.js')}"></script>
  <style>
    #feedback { font-size: 1.4em; }
    tr.odd.ui-selected { background-color: red; }
    tr.ui-selected { background-color: #F39814; color: white; }
    tr.odd { background-color: gray; }
    tr { list-style-type: none; margin: 0; padding: 0; width: 60%; }
    .dragHover {
        background-color:red;
    }
    #sessions { display: none; }
    #epochs { display: none; }
  </style>

  <script type="text/javascript">
    var epoch_columns_flags = new Array();
    <py:for each="flag in epoch_columns_flags">
      epoch_columns_flags.push("${flag}");
    </py:for>

    $(document).ready(function() {
      setupCallbacks();
      setupDraggable($("#sessions tbody"), $("#experiments tbody tr"));
      setupDroppable($("#sessions tbody"), $("#experiments tbody tr"), dropSessionsOnExperiment);
      $("th").click(function() { sortTable($(this), 1);});
    }); // document ready

  </script>

</head>

<body>

  <h2>Manage</h2>

  <p>This page allows you to view and make changes to your data.</p>

  <table>
  <tr>
  <td style="vertical-align:top; width:20%;">

    <table id="experiments" class="manage" border="0" cellpadding="0" cellspacing="1">
      <thead height = "50">
        <tr>
        <th py:for="col in columns">${col}</th>
        </tr>
      </thead>
      <tbody id="t1">
        <py:for each="exp in exp_list">
          <tr id="exp_${exp[0]}"> <!-- set id for expand queries done on rows later -->
                <td py:for="param in exp[1:]">${param}</td>
          </tr>
        </py:for>
      </tbody>
    </table>

  </td>
  <td style="vertical-align:top; width:30%;">

    <table id="sessions" class="manage" border="0" cellpadding="0" cellspacing="1">
      <thead height = "50">
        <tr>
        <th py:for="col in session_columns">${col}</th>
        </tr>
      </thead>
      <tbody id="t2">
      </tbody>
    </table>

  </td>
  <td style="vertical-align:top;">

    <table id="epochs" class="manage" border="0" cellpadding="0" cellspacing="1">
      <thead height = "50">
        <tr>
          <th py:for="col in epoch_columns">${col}</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>

  </td>
  </tr>
  </table>
</body>
</html>
