<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
    <xi:include href="header.html" />
    <xi:include href="footer.html" />
<head py:match="head" py:attrs="select('@*')">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"
          py:attrs="dict(content='%s; charset=%s' % (response.content_type, response.charset))" />
    <title py:if="False">Your title goes here</title>
    <meta py:replace="select('*')"/>
    <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/stanfordmodern.css')}" />
    <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/nimsgears.css')}" />
    <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/admin.css')}" />
</head>

<body class="nav" py:match="body" py:attrs="select('@*')">

  <div id="layout">
    <div id="wrapper">

      ${header()}

      <div id="container">
        <div id="content">
          <div py:replace="select('*|text()')"/>
        </div>
      </div>

      ${footer()}

    </div>
  </div>

</body>
</html>
