<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
  <title>NIMS Preferences</title>
</head>

<body>

  <py:with vars="flash=tg.flash_obj.render('flash', use_js=False)">
    <div py:if="flash" py:replace="Markup(flash)" />
  </py:with>

  <h2>User Preferences</h2>

  <!-- ${tmpl_context.prefs(value=value, action='prefs')} -->

  <!-- re.sub(r'(\w)(\w+)', lambda x: x.group(1).upper()+x.group(2), re.sub(r'_', r' ', 'the_label')) -->

  <form class="prefsform" action="${tg.url('/auth/prefs')}" method="post" accept-charset="UTF-8" name="prefsform">
    <p py:for="p, v in prefs.iteritems()"><label>${v[0]}</label><input type="text" name="${p}" value="${v[1]}" /></p>
    <p><input type="submit" id="submit" value="Update" /></p>
  </form>

</body>
</html>
