<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
    <link rel="stylesheet" type="text/css" href="../css/search.css" />
    <title>NIMS Search</title>

    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"
	    py:if="False" />
    <script data-main="${tg.url('/javascript/search')}"
	    src="${tg.url('/javascript/require.js')}"></script>
    <script type="text/javascript" src="../javascript/jquery.qtip-1.0.0-rc3.min.js"></script>
    <script
	    src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
</head>

<body>
	<div id="epochs_pop" class="pop" style="display: none">
		<iframe src="" frameborder="no" />
	</div>
	<div id="datasets_pop" class="pop" style="display: none">
		<iframe id="edit_dataset_iframe" src="" frameborder="no" />
	</div>
    <!-- Banner used to show the error from js validation -->
    <div id='bannerjs'>
        <div class='hide' id="bannerjs-emptyfields">         
        </div>
        <div class='hide' id="bannerjs-errorstring">         
        </div>
        <div class='hide' id="bannerjs-errorints">         
        </div>
    </div>
    <!-- Banner used to show the error from python validation-->
    <div class='hide' id='bannerpy'>
        <div id="bannerpy-content">
            
        </div>
    </div>
	<h2>Search</h2>

	<p>NIMS currently hosts ${dataset_cnt} datasets.</p>

	<form id="search_form" accept-charset="UTF-8">
		<div id="query_table" cellpadding="0" cellspacing="0">
            <div id='db_wrapper'>
                <div id='db_choice'>
                    <input id='data_checkBox' type="checkbox" name='choose_db' value='any_data'/>Include data I do not have access to
                </div>
                <div class='first_name'>
                    First Name<input id='first_name' type='text' name='subject_name' value=''/>
                </div>
                <div class='last_name'>
                    Last Name<input id='last_name' type='text' name='subject_name' value=''/>
                </div>
            </div>
            <div id='upper_Body'>
					<div class='criteriaBody' id="criteriaBody" >
						<div class='criteriaContainer' id="criteriaContainerA">
							<span id='select_param'> <select class="search_param" name="search_param">
									<option py:for="param in param_list" >${param}</option>
							</select>
							<img class='hide asterisk' src='../images/icon_RequiredField.png' />
							</span>
							<span>
							<input class='required' id="search_query" name="search_query" type="text"
								size="30"></input>
                            <div class='field_information'></div>
							</span>
						</div>
						<div class='criteriaContainer' id="criteriaContainerB">
							<span id='select_param'> <select class="search_param" name="search_param">
									<option py:for="param in param_list" >${param}</option>
							</select>
							<img class='hide asterisk' src='../images/icon_RequiredField.png' />
							</span>
							<span>
							<input class='required' id="search_query" name="search_query" type="text"
								size="30"></input>
    						<img class='removeCriteria hide' id="remove"
                                    src="../images/remove.png" title="Remove builder" />
                            <img class='addCriteria' id="newCriteria"
                                    src="../images/add.png" title="Add new builder" /> 
                            <div class='field_information'></div>
							</span>
						</div>
				    </div>
                </div>

			<div id="dates">
					<script>
						$(function() {
							$("#date_from").datepicker(
									{
										defaultDate : "-1m",
										changeMonth : true,
										changeYear : true,
										numberOfMonths : 2,
										maxDate : "+1d",
										onSelect : function(selectedDate) {
											$("#date_to").datepicker("option",
													"minDate", selectedDate);
										}
									});
							$("#date_to").datepicker(
									{
										defaultDate : "+0d",
										changeMonth : true,
										changeYear : true,
										numberOfMonths : 2,
										maxDate : "+1d",
										onSelect : function(selectedDate) {
											$("#date_from").datepicker(
													"option", "maxDate",
													selectedDate);
										}
									});
						});
					</script>
					<span><label for="date_from">From</label> <input type="text"
						size="9" id="date_from" name="date_from" /></span>
					<span><label for="date_to">to</label> <input type="text"
						size="9" id="date_to" name="date_to" /></span>
			</div>
			<div id='submitDiv'>
				<span><input type="submit" id="submit" value="Search" /></span>
				<span>
					<p id="n_results"></p>
				</span>
			</div>
		</div>
	</form>

	<table id="epochs" class="scrolltable" style="visibility: hidden">
		<thead>
			<tr>
				<py:for each="col in epoch_columns">
					<th py:with="name, cls = col" class="${cls}">${name}</th>
				</py:for>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
	<table id="datasets" class="scrolltable" style="visibility: hidden">
		<thead>
			<tr>
				<py:for each="col in dataset_columns">
					<th py:with="name, cls = col" class="${cls}">${name}</th>
				</py:for>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</body>
<script type="text/javascript">


	// Add  new criteria to the query

	var criteriaCounter = 1;
	var max = 1;

	$('#newCriteria').live('click',
		function() {

		//Create new Fields
		var clonedContainer = $('.criteriaBody' ).last().clone()
			.attr('id','criteriaBody' + max );
			max++;
			criteriaCounter++;

		//Clear data fields
		$(clonedContainer).each(function() {
			$('input', this).val('');
			});
            
        // Initialize the tooltip message 
        setInformation($(clonedContainer).find('.field_information'), tooltipMessages['Subject Name']);

		//Append to parent
		clonedContainer.appendTo('#upper_Body');

		//Add the plus button to add criteria
		$(this).addClass('hide');

		//Show the remove button
		$('.removeCriteria').removeClass('hide');
	});


	// Remove new criteria to the query

	$('#remove').live('click', function(){

		$(this).parents('.criteriaBody').remove();
		criteriaCounter--;

		// In case last builder, not to show remove option
		if (criteriaCounter == 1) {
			$('.removeCriteria').addClass('hide');
		}

		// Make sure last container has the add button
		 $(".criteriaBody").last().find('#newCriteria').removeClass('hide');
         

	});
    
    // Map of parameter options and functions to validate fields
    var validation_inputs = {
        'Subject Name' : is_ascii,
        'Subject Age' : is_ascii,
        'Exam' : is_integer,
        'Operator' : is_ascii,
        'PSD Name' : is_ascii,
    };
    

    var error_ascii = [];
    var error_int = [];
    
    // Validation functions
    function is_ascii(value){
       //var patt1=/^[a-zA-Z\s]*$/;
       var pattascii=/^[\x00-\x7F]*$/;
       if(!pattascii.test(value)){
           error_ascii.push(value);
           return false
       }
       return true;
    }

    function is_integer(value){
        if(value == '')
            return true
        var patt2=/^\d+$/;
        if(!patt2.test(value)){
            error_int.push(value);
            return false;
        }
        return true;
    }
    
    function is_otherfield(value){
        return true;
    }

	// Validation of the fields

	$('#submit').click( function(){
        error_ascii = [];
        error_int = [];

		var validationError = false;

		$('.criteriaContainer').each(function(){
			var value = $('.required', this).val();
            var option = $('.search_param', this).val();
            
            // Validation by functions described above
            validationError = validation_inputs[option](value);
            
            if(error_ascii.length != 0 ){
                $('#bannerjs-errorstring').html("Fields <b>" + error_ascii.toString() + "</b> is not ascii");
                $('#bannerjs-errorstring').removeClass('hide');
            }else{
                $('#bannerjs-errorstring').addClass('hide');
            }
            if(error_int.length != 0 ){
                $('#bannerjs-errorints').html("Fields <b>" + error_int.toString() + "</b> do not correspond to integer");
                $('#bannerjs-errorints').removeClass('hide');
            }else{
                $('#bannerjs-errorints').addClass('hide');
            }
		});      
		if( validationError ){
			return false;
		}
	});
    
    var tooltipMessages = {
        'Subject Name' : 'Only First Name or Last Name',
        'Subject Age' : 'Examples:  &gt;10, &lt;50, 10 to 30',
        'PSD Name' : 'Examples: cni_epi, BRAVO',
        'Exam' : 'Number between: 1, 99999',
        'Operator' : 'SunID of operator',
    };
    
    // Tooltip to show the examples of how to enter the age, used qTip to do it.
    $('.search_param').live('change', function(){
        var option = this.value;
        var tooltipText = tooltipMessages[option];    
        var information = $(this).parents('.criteriaContainer').find('.field_information');
        information.html(tooltipText);
    });
    
    
    function setInformation(information, tooltipText){
        information.html(tooltipText);
    }
  
    //Set tooltip to Subject Name when page loaded
     setInformation($('.field_information'), tooltipMessages['Subject Age']);
    
     //Show the First Name and Last Name only when search in your data:
     var countCheck = 0;
     $('#data_checkBox').live('click', function(){ 
        if( countCheck%2 == 0 ){
            $('#first_name, #last_name').attr('disabled', 'disabled');
            $('.first_name, .last_name').css('color', '#E0E0E0');
            $('#first_name, #last_name').css('color', '#E0E0E0');
            countCheck++;
        }else{
            $('#first_name, #last_name').removeAttr('disabled');
            $('.first_name, .last_name').css('color', '#000000 ');
             $('#first_name, #last_name').css('color', '#000000 ');
            countCheck++;
        }
     });
    

</script>
</html>
