<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
    <link rel="stylesheet" type="text/css" href="../css/search.css" />
    <title>NIMS Search</title>

    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"
	    py:if="False" />
    <script data-main="${tg.url('/javascript/search')}"
	    src="${tg.url('/javascript/require.js')}"></script>
    <script type="text/javascript" src="../javascript/jquery.qtip-1.0.0-rc3.min.js"></script>
    <script
	    src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
</head>

<body>
	<div id="epochs_pop" class="pop" style="display: none">
		<iframe src="" frameborder="no" />
	</div>
	<div id="datasets_pop" class="pop" style="display: none">
		<iframe id="edit_dataset_iframe" src="" frameborder="no" />
	</div>
    <!-- Banner used to show the error from js validation -->
    <div id='bannerjs'>
        <div class='hide' id="bannerjs-emptyfields">         
        </div>
        <div class='hide' id="bannerjs-errorstring">         
        </div>
        <div class='hide' id="bannerjs-errorints">         
        </div>
    </div>
    <!-- Banner used to show the error from python validation-->
    <div class='hide' id='bannerpy'>
        <div id="bannerpy-content">
            
        </div>
    </div>
	<h2>Search</h2>

	<p>NIMS currently hosts ${dataset_cnt} datasets.</p>

	<form id="search_form" accept-charset="UTF-8">
		<div id="query_table" cellpadding="0" cellspacing="0">
					<div id="criteriaBody">
						<div class='criteriaContainer' id="criteriaContainer">
							<span id='select_param'> <select class="search_param" name="search_param">
									<option py:for="param in param_list" >${param}</option>
							</select>
							<img class='hide asterisk' src='../images/icon_RequiredField.png' />
							</span>
							<span>
							<input class='required' id="search_query" name="search_query" type="text"
								size="30"></input>
							</span>
							<img class='removeCriteria hide' id="remove"
								src="../images/remove.png" title="Remove builder" />
							<img class='addCriteria' id="newCriteria"
								src="../images/add.png" title="Add new builder" />
						</div>
				</div>

				<div id="dates">
					<script>
						$(function() {
							$("#date_from").datepicker(
									{
										defaultDate : "-1m",
										changeMonth : true,
										changeYear : true,
										numberOfMonths : 2,
										maxDate : "+1d",
										onSelect : function(selectedDate) {
											$("#date_to").datepicker("option",
													"minDate", selectedDate);
										}
									});
							$("#date_to").datepicker(
									{
										defaultDate : "+0d",
										changeMonth : true,
										changeYear : true,
										numberOfMonths : 2,
										maxDate : "+1d",
										onSelect : function(selectedDate) {
											$("#date_from").datepicker(
													"option", "maxDate",
													selectedDate);
										}
									});
						});
					</script>
					<span><label for="date_from">From</label> <input type="text"
						size="9" id="date_from" name="date_from" /></span>
					<span><label for="date_to">to</label> <input type="text"
						size="9" id="date_to" name="date_to" /></span>
				</div>
				<div id='submitDiv'>
					<span><input type="submit" id="submit" value="Search" /></span>
					<span>
						<p id="n_results"></p>
					</span>
				</div>
			</div>
	</form>

	<table id="epochs" class="scrolltable" style="visibility: hidden">
		<thead>
			<tr>
				<py:for each="col in epoch_columns">
					<th py:with="name, cls = col" class="${cls}">${name}</th>
				</py:for>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
	<table id="datasets" class="scrolltable" style="visibility: hidden">
		<thead>
			<tr>
				<py:for each="col in dataset_columns">
					<th py:with="name, cls = col" class="${cls}">${name}</th>
				</py:for>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</body>
<script type="text/javascript">


	// Add  new criteria to the query

	var criteriaCounter = 1;
	var max = 1;

	$('#newCriteria').live('click',
		function() {

		//Create new Fields
		var clonedContainer = $('.criteriaContainer' ).last().clone()
			.attr('id','criteriaContainer' + max );
			max++;
			criteriaCounter++;

		//Clear data fields
		$(clonedContainer).each(function() {
			$('input', this).val('');
			});
            
        // Initialize the tooltip message 
        setTooltip($(clonedContainer).find('#search_query'), tooltipMessages['Subject Name']);

		//Append to parent
		clonedContainer.appendTo('#criteriaBody');

		//Add the plus button to add criteria
		$(this).addClass('hide');

		//Show the remove button
		$('.removeCriteria').removeClass('hide');
	});


	// Remove new criteria to the query

	$('#remove').live('click', function(){

		$(this).parents('.criteriaContainer').remove();
		criteriaCounter--;

		// In case last builder, not to show remove option
		if (criteriaCounter == 1) {
			$('.removeCriteria').addClass('hide');
		}

		// Make sure last container has the add button
		 $(".criteriaContainer").last().find('#newCriteria').removeClass('hide');
         

	});
    
    // Map of parameter options and functions to validate fields
    var validation_inputs = {
        'Subject Name' : is_ascii,
        'Subject Age' : is_otherfield,
        'Exam' : is_integer,
        'Operator' : is_ascii,
        'PSD Name' : is_ascii,
    };
    

    var error_ascii = [];
    var error_int = [];
    
    // Validation functions
    function is_ascii(value){
       //var patt1=/^[a-zA-Z\s]*$/;
       var pattascii=/^[\x00-\x7F]*$/;
       if(!pattascii.test(value)){
           error_ascii.push(value);
       }
       return pattascii.test(value);
    }

    function is_integer(value){
        var patt2=/^\d+$/;
        if(!patt2.test(value)){
            error_int.push(value);
        }
        return patt2.test(value);
    }
    
    function is_otherfield(value){
        return true;
    }

	// Validation of the fields

	$('#submit').click( function(){
        error_ascii = [];
        error_int = [];

		var validationError = false;

		$('#criteriaBody div').each(function(){
			var value = $('.required', this).val();
                 
			if( value === '' ){
				$('.asterisk', this).removeClass('hide');               
                $('#bannerjs-emptyfields').html('Empty input fields must be completed or removed');
                $('#bannerjs-emptyfields').removeClass('hide');
                validationError = true;
			}else{
				$('.asterisk', this).addClass('hide');
                $('#bannerjs-emptyfields').addClass('hide');
			}
            var option = $('.search_param', this).val();
            
            // Validation by functions described above
            validation_inputs[option](value);
            
            if(error_ascii.length != 0 ){
                $('#bannerjs-errorstring').html("Fields <b>" + error_ascii.toString() + "</b> is not ascii");
                $('#bannerjs-errorstring').removeClass('hide');
            }else{
                $('#bannerjs-errorstring').addClass('hide');
            }
            if(error_int.length != 0 ){
                $('#bannerjs-errorints').html("Fields <b>" + error_int.toString() + "</b> do not correspond to integer");
                $('#bannerjs-errorints').removeClass('hide');
            }else{
                $('#bannerjs-errorints').addClass('hide');
            }
		});
        
        
        
		if( validationError ){
			return false;
		}
	});
    
    var tooltipMessages = {
        'Subject Name' : 'Only <b>First Name</b> or <b>Last Name</b>',
        'Subject Age' : 'Some examples of valid inputs: <b>  &gt;10</b>, <b>&lt;50</b>, <b>10 to 30</b>',
        'PSD Name' : 'Some examples of valid inputs: <b>cni_epi</b>, <b>BRAVO</b>',
        'Exam' : 'Experiment should be a number between: <b>100</b>, <b>5000</b>',
        'Operator' : '<b>SunID</b> of operator',
    };
    
    // Tooltip to show the examples of how to enter the age, used qTip to do it.
    $('.search_param').live('change', function(){
        var option = this.value;
        var tooltipText = tooltipMessages[option];
        
        var inputBox = $(this).parents('.criteriaContainer').find('#search_query');
        setTooltip(inputBox, tooltipText);
    });
    
    function setTooltip(inputBox, tooltipText) {
        // Destroy currrent tooltip if present
        if ($(inputBox).data("qtip")) $(inputBox).qtip("destroy");
        
        inputBox.qtip({ 
                content: tooltipText,
                style: {
                  border: {
                     width: 2,
                     radius: 2
                  },
                  padding: 4, 
                  textAlign: 'center',
                  tip: true, 
                  name: 'cream' 
               }
           });
    }
    
    //Set tooltip to Subject Name when page loaded
    setTooltip($('#search_query'), tooltipMessages['Subject Name']);

</script>
</html>
