<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
  <title>NIMS Status</title>
</head>

<body>

  <h2>Status</h2>

  <h2>Messages</h2>
  <table>
    <py:for each="msg in sorted(tg.identity.user.messages, key=lambda msg: msg.created)">
    <tr class="${'bold' if not msg.read else None}">
        <td>${msg.created.strftime('%Y-%m-%d %H:%M:%S')}</td>
        <td>${msg.subject}</td>
    </tr>
    </py:for>
  </table>

  <h2>Failed Jobs (${len(failed_jobs)})</h2>
  <table>
      <py:for each="job in failed_jobs">
      <tr>
        <td>${job.id}</td>
        <td>${job.data_container}</td>
        <td>${job.task}</td>
        <td>${job.activity}</td>
      </tr>
      </py:for>
  </table>

  <h2>Active Jobs (${len(active_jobs)})</h2>
  <table>
      <py:for each="job in active_jobs">
      <tr>
        <td>${job.id}</td>
        <td>${job.data_container}</td>
        <td>${job.task}</td>
        <td>${job.activity}</td>
      </tr>
      </py:for>
  </table>

  <h2>Queued Jobs (${len(queued_jobs)})</h2>
  <table>
      <py:for each="job in queued_jobs">
      <tr>
        <td>${job.id}</td>
        <td>${job.data_container}</td>
        <td>${job.task}</td>
        <td>${job.activity}</td>
      </tr>
      </py:for>
  </table>

</body>
</html>
