<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
    <style>
      #progress_bar {
        margin: 10px 0;
        padding: 3px;
        border: 1px solid #000;
        font-size: 14px;
        clear: both;
        opacity: 0;
        -moz-transition: opacity 1s linear;
        -o-transition: opacity 1s linear;
        -webkit-transition: opacity 1s linear;
      }
      #progress_bar.loading {
        opacity: 1.0;
      }
      #progress_bar .percent {
        background-color: #99ccff;
        height: auto;
        width: 0;
      }
    </style>
    <link rel="stylesheet" type="text/css" href="../css/upload.css" />
    <title>NIMS Upload</title>
    
    <!-- Force latest IE rendering engine or ChromeFrame if installed -->
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->

    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"
	    py:if="False" />
        
    <script type="text/javascript">
            
    </script>
</head>
<body>
    <h2>Upload</h2>
    <form>
        <div>Group <select name='group'>
            <option name='group1' value='1'>1</option>
            <option name='group2' value='3'>3</option>
            <option name='group3' value='5'>5</option>
        </select>
        </div>
        <div>Experiment
            <input type="text" name='experiment'></input>
        </div>
        <div>
            <input type='submit' value='Submit'></input>
        </div>
    </form>
    
    <input type="file" id="files" name="file" />
    <button onclick="abortRead();">Cancel read</button>
    <div id="progress_bar"><div class="percent">0%</div></div>
    
    <script type='text/javascript'>
    
    $('form').submit(function(){
       console.log($(this).serializeArray());
       return false; 
    });
  
    </script>
</body>
</html>
