<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
    <link rel="stylesheet" type="text/css" href="../css/upload.css" />
    <title>NIMS Upload</title>

    <!-- Force latest IE rendering engine or ChromeFrame if installed -->
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->

    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False" />

    <script type="text/javascript">
        // Check for the various File API support.
        if (!window.File || !window.FileReader || !window.FileList || !window.Blob) {
            alert('The File APIs are not fully supported in this browser.');
        }
    </script>
</head>
<body>
    <div id='bannerjs'>
        <div class='hide' id="bannerjs-emptyfields">
        </div>
    </div>
    <h2>Upload</h2>
    <form action="upload/submit" method="POST" enctype="multipart/form-data">
        <table id='table_form'>
            <tr>
                You can upload by Drag and Drop files or a folder, or choose some files by cliking in the area. Make sure all fields are complete.
            </tr>
       </table>

        <div id="drop_zone" name='drop_files'>
            <span>Drop folder/files, click and choose files for upload</span>
        </div>
        <div id="select_files" border="1px solid red">
            <input type="file" id="files" name="files[]" onchange="handleFileInputSelect(this.files)" multiple="multiple" ></input>
        </div>

        <output id="list"></output>

        <table class='files_to_upload'>
            <thead id='file_list_header' class='hide'>
                <tr>
                    <th class='border'>Date</th>
                    <th class='border'>Study ID</th>
                    <th class='border'>Series #</th>
                    <th class='border'>Description</th>
                    <th class='border'>Images</th>
                    <th class='border'>Size</th>
                    <th class='border'>Notes</th>
                    <th class='border'>Upload</th>
                </tr>
            </thead>
            <tbody id='file_list'>
            </tbody>
        </table>
        <spam id='fileContents'>

        </spam>
        <table class='submitTable' width="50%">
            <tr>
                <td>
                    <div id='group_select'>Group
                        <select id='group_value' name='group'>
                            <option value=''></option>
                            <option py:for="group in research_groups" >${group}</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div id='experiment_input'>Experiment
                        <input type="text" id="experiment" name="experiment"></input>
                    </div>
                </td>
                <td>
                    <input id="submit_form" type='submit' value="Upload"></input>
                </td>
                <td>
                    <input id="clear_form" type='reset' value='Cancel'></input>
                </td>
            </tr>
        </table>
        <table >
            <thead id='file_header_ignored' class='hide'>
                <tr>
                    <th class='border'>File Name</th>
                    <th class='border'>Type</th>
                    <th class='border'>Size (bytes)</th>
                    <th class='border'>Status</th>
                </tr>
            </thead>
            <tbody id='file_list_ignored'>
            </tbody>
        </table>
    </form>


    <pre id="result_error" class='hide'></pre>
    <pre id="result_ok" class='hide'></pre>
    <script src="${tg.url('/javascript/jsdicom-lib/src/binutils.js')}"></script>
    <script src="${tg.url('/javascript/jsdicom-lib/src/dcmdict.js')}"></script>
    <script src="${tg.url('/javascript/jsdicom-lib/src/dcmfile.js')}"></script>
    <script src="${tg.url('/javascript/jsdicom-lib/src/dicomparser.js')}"></script>
    <script src="${tg.url('/javascript/jsdicom-lib/src/qr.js')}"></script>
    <script src="${tg.url('/javascript/jsdicom-lib/src/transfersyntax.js')}"></script>

    <script src="${tg.url('/javascript/upload.js')}"></script>
</body>
</html>

